In [10]:
import os
import h5py
import numpy as np
import pandas as pd
from scipy import ndimage as ndi

datapath = "./data/train_half"
files = os.listdir(datapath)

ret = []
for idx, file in enumerate(files):
    print(f"{idx}/{len(files)}: {file}")
    with h5py.File(os.path.join(datapath, file), 'r') as f:
        raw = f['raw'][:]
        label = f['label'][:]

        label_labels, num_labels = ndi.label(label)

        unique_aneus = np.unique(label_labels)
        print("unique_aneus in this set", unique_aneus)

        label_volume = np.zeros(num_labels)
        for i in range(1, num_labels + 1):
            m = label_labels[label_labels == i]

            volume = m.sum()

            t = np.zeros(label.shape)
            t[label_labels == i] = 1

            label_volume[i - 1] = volume

            # Get Aneu Size

            x_s = t.sum(axis=(1, 2))
            y_s = t.sum(axis=(0, 2))
            z_s = t.sum(axis=(0, 1))

            x = np.where(x_s)[0][[0, -1]]
            y = np.where(y_s)[0][[0, -1]]
            z = np.where(z_s)[0][[0, -1]]

            ret.append((file, i, volume, x[0], 128 - x[1], y[0], 128 - y[1], z[0], 128 - z[1]))

0/75: A024.h5
unique_aneus in this set [0 1]
1/75: A096_R.h5
unique_aneus in this set [0 1]
2/75: A094_R.h5
unique_aneus in this set [0 1 2]
3/75: A054.h5
unique_aneus in this set [0 1]
4/75: A121.h5
unique_aneus in this set [0 1]
5/75: A088.h5
unique_aneus in this set [0 1]
6/75: A093.h5
unique_aneus in this set [0 1]
7/75: A009.h5
unique_aneus in this set [0 1]
8/75: A091_R.h5
unique_aneus in this set [0 1 2]
9/75: A126.h5
unique_aneus in this set [0 1 2]
10/75: A119.h5
unique_aneus in this set [0 1]
11/75: A083.h5
unique_aneus in this set [0 1]
12/75: A100.h5
unique_aneus in this set [0 1]
13/75: A098.h5
unique_aneus in this set [0 1]
14/75: A057.h5
unique_aneus in this set [0 1]
15/75: A010.h5
unique_aneus in this set [0 1]
16/75: A130_L.h5
unique_aneus in this set [0 1]
17/75: A124.h5
unique_aneus in this set [0 1]
18/75: A046.h5
unique_aneus in this set [0 1]
19/75: A038_M.h5
unique_aneus in this set [0 1]
20/75: A130_R.h5
unique_aneus in this set [0 1 2 3]
21/75: A078_L.h5
unique_aneus in this set [0 1]
22/75: A059_L.h5
unique_aneus in this set [0 1 2]
23/75: A035.h5
unique_aneus in this set [0 1]
24/75: A042.h5
unique_aneus in this set [0 1]
25/75: A062_L.h5
unique_aneus in this set [0 1]
26/75: A095.h5
unique_aneus in this set [0 1]
27/75: A068.h5
unique_aneus in this set [0 1]
28/75: A040.h5
unique_aneus in this set [0 1]
29/75: A108.h5
unique_aneus in this set [0 1 2]
30/75: A105_L.h5
unique_aneus in this set [0 1 2]
31/75: A025.h5
unique_aneus in this set [0 1]
32/75: A138.h5
unique_aneus in this set [0 1]
33/75: A127.h5
unique_aneus in this set [0 1]
34/75: A086.h5
unique_aneus in this set [0 1]
35/75: A045.h5
unique_aneus in this set [0 1]
36/75: A112.h5
unique_aneus in this set [0 1]
37/75: A060.h5
unique_aneus in this set [0 1]
38/75: A076.h5
unique_aneus in this set [0 1]
39/75: A026.h5
unique_aneus in this set [0 1]
40/75: A017_L.h5
unique_aneus in this set [0 1]
41/75: A021.h5
unique_aneus in this set [0 1]
42/75: A013.h5
unique_aneus in this set [0 1]
43/75: A005.h5
unique_aneus in this set [0 1]
44/75: A082.h5
unique_aneus in this set [0 1]
45/75: A071.h5
unique_aneus in this set [0 1]
46/75: A136.h5
unique_aneus in this set [0 1]
47/75: A006.h5
unique_aneus in this set [0 1]
48/75: A038_R.h5
unique_aneus in this set [0 1 2 3]
49/75: A067.h5
unique_aneus in this set [0 1]
50/75: A115.h5
unique_aneus in this set [0 1 2]
51/75: A087.h5
unique_aneus in this set [0 1]
52/75: A079.h5
unique_aneus in this set [0 1]
53/75: A074.h5
unique_aneus in this set [0 1]
54/75: A015.h5
unique_aneus in this set [0 1]
55/75: A001.h5
unique_aneus in this set [0 1]
56/75: A135.h5
unique_aneus in this set [0 1]
57/75: A081.h5
unique_aneus in this set [0 1]
58/75: PA5.h5
unique_aneus in this set [0 1]
59/75: A123.h5
unique_aneus in this set [0 1]
60/75: A064.h5
unique_aneus in this set [0 1]
61/75: PA6.h5
unique_aneus in this set [0 1]
62/75: A073.h5
unique_aneus in this set [0 1]
63/75: A092.h5
unique_aneus in this set [0 1]
64/75: A113.h5
unique_aneus in this set [0 1]
65/75: A023_R.h5
unique_aneus in this set [0 1 2 3]
66/75: A114.h5
unique_aneus in this set [0 1 2 3]
67/75: A120.h5
unique_aneus in this set [0 1]
68/75: A038_L.h5
unique_aneus in this set [0 1]
69/75: A041.h5
unique_aneus in this set [0 1]
70/75: A016.h5
unique_aneus in this set [0 1]
71/75: A089_R.h5
unique_aneus in this set [0 1]
72/75: A044.h5
unique_aneus in this set [0 1]
73/75: A129.h5
unique_aneus in this set [0 1]
74/75: A050.h5
unique_aneus in this set [0 1]

In [11]:
df = pd.DataFrame(ret, columns=["file", "label", "volume", "x_s", "x_e", "y_s", "y_e", "z_s", "z_e"])
df.describe()

,label,volume,x_s,x_e,y_s,y_e,z_s,z_e
count,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000
mean,1.211111,386.577778,39.000000,82.400000,60.033333,61.344444,47.300000,74.333333
std,0.508234,803.983215,11.973754,11.288654,16.643958,16.421527,12.140053,12.524134
min,1.000000,19.000000,12.000000,48.000000,25.000000,28.000000,14.000000,35.000000
25%,1.000000,68.250000,31.250000,74.250000,51.000000,51.000000,40.000000,70.000000
50%,1.000000,127.500000,38.000000,83.000000,60.000000,62.500000,45.000000,76.000000
75%,1.000000,380.500000,46.750000,89.000000,69.000000,71.000000,53.000000,81.000000
max,3.000000,5006.000000,77.000000,107.000000,95.000000,99.000000,89.000000,112.000000